*
{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#barra-topo
{
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 3.3em;
  position: fixed;
}

#logo
{
  position: absolute;
  left: 8%;
  top: 13%;
}

#titulo_gc{
	width:230px;
	height:45px;
	color:white;
	position:absolute;
	top:11%;
	left:15%;
}

#menu
{
  width: 40%;
  position: absolute;
  right: 10%;
}

#menu a
{
  color: #fff;
  background: rgb(35, 35, 35);
  display: block;
  height: 3.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background, 0.5s;
  
}

#menu a:hover
{
  background-color: rgb(50,50,50);
  color: gold;
}



.menu_botao
{
  list-style-type: none;
  display: flex;
}

#menu li
{
  width: 100%;
  text-align: center;
  position: relative;
}

#menu li:hover .drop > li
{
  display: block;
  top: 0px;
}

#corpo
{
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  position: relative;
}

.menu_icone_resp
{
  display: none;
}

#conteudo
{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(182, 182, 182);
  box-shadow: black 0px 10px 200px;
}

#slide-ph
{
  margin-top: 3.2em;
  width: 100%;
}

.botoes-bot
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: bottom;
  margin-top: 3em;
  justify-content: center;
  margin-bottom: 2em;
}

.botao-bottom-img
{
  position: relative;
  display: flex;
  flex-direction: bottom;
  margin-left: 1.3em;
}

.legenda
{
  text-transform: uppercase;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 3em;
  margin: 0 auto;
  background-color: black;
  position: absolute;
  color: white;
  decoration: none;
  font-weight: bolder;
}

#rodape
{
  width: 100%;
  background-color: rgb(35,35,35);
  height: 125px;
}

#rodape ul
{
  margin-top: 0.8em;
}

#rodape li
{
  list-style-type: none;
}

#rodape li a:link
{
  text-decoration: none;
  color: white;
}

#rodape li a:visited
{
  color: whitesmoke;
}

#f-jogos
{
  position: absolute;
  right: 10%;
  color: snow;
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: bottom;
}

#f-sobre
{
  position: absolute;
  left: 10%;
  color: snow;
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: bottom;
}

/* CSS Contato */

#mensagem
{
  margin: 1em;
  width: 40%;
}

#mensagem h1
{
  font-size: 2em;
  text-align: center;
}

#mensagem p
{
  text-align: center;
}

#form_contato
{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  width: 100%;
  margin-left: 2%;
}

#form_contato input, #form_contato textarea
{
  width: 100%;
  padding: 7px;
  color: black;
  border-radius: 4px;
  border: 1px solid;
}

#contato
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#redes-sociais
{
	display:flex;
	flex: wrap;
	flex-direction:column;
	margin-left:40em;
	position: absolute;
	bottom:30.2em;
}

/* Sobre */
#sobre-empresa
{
  width: 80%;
  margin: 1em auto;
}

#sobre-empresa h1
{
  text-align: center;
  font-size: 2.5em;
}

#sobre-empresa p
{
  text-align: justify;
  font-size: 1em;
}

#sobre-referencias
{
  padding: 1em;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#sobre-referencias p
{
  text-align: center;
}

#sobre-referencias h1
{
  font-size: 2.3em;
}

#tabela-jogos, #tabela-jogos td, th
{
  border: 2px solid black;
  font-size: 1.1em;
  text-align: center;
  padding: 3px;
  width: 50%;
  margin: 0 auto;
}

/* Media Queries para responsividade */
@media screen and (max-width: 500px)
{
  #menu a, #menu ul, .drop
  {
    flex-direction: column;
  }

  #titulo_gc
  {
    display: none;
  }

  #menu ul
  {
    position: relative;
    top: 3.3em;
  }

  .menu_botao
  {
    display: none;
  }

  .menu_icone_resp
  {
    align-self: flex-end;
    display: initial;
    position: absolute;
    right: 0;
    top: 0.15em;
    color: #fff;
    font-size: 2.5em;
  }

  .menu_botao_show
  {
    display: flex;
  }

  #menu li:hover
  {
    height: 3.3em;
  }

  #slide-ph
  {
    width: 100%;
  }

  .botao-bottom-img img
  {
    padding: 1em;
    width: 87%;
  }

  .legenda
  {
  margin-left: 5.1%;
  text-align: center;
  width: 76.9%;
  height: 2.5em;
  background-color: black;
  position: absolute;
  color: white;
  decoration: none;
  font-weight: bolder;
  }
}