*
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#barra-topo
{
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 3.3em;
  position: fixed;
}

#logo
{
  position: absolute;
  left: 8%;
  top: 13%;
}

#menu
{
  width: 40%;
  position: absolute;
  right: 10%;
}

#menu a
{
  color: #fff;
  background: rgb(35, 35, 35);
  display: block;
  height: 3.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background, 0.5s;
  
}

#menu a:hover
{
  background-color: rgb(50,50,50);
  color: gold;
}

.menu_botao
{
  list-style-type: none;
  display: flex;
}

#menu li
{
  width: 100%;
  text-align: center;
  position: relative;
}

#menu li:hover .drop > li
{
  display: block;
  top: 0px;
}

#corpo
{
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.menu_icone_resp
{
  display: none;
}

#conteudo
{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  background-color: cadetblue;
  box-shadow: black 0px 10px 200px;
}

#slide-ph
{
  margin-top: 5em;
  margin-left: 2.3em;
}

.botoes-bot
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: bottom;
  margin-top: 3em;
  margin-left: 1em;
}

.botao-bottom-img
{
  display: flex;
  flex-direction: bottom;
  margin-left: 1.3em;
}

.legenda
{
  top: 36.1em;
  text-align: center;
  width: 22.24%;
  height: 3em;
  margin: 0 auto;
  background-color: black;
  position: absolute;
  color: white;
  decoration: none;
  font-weight: bolder;
}

#rodape
{
  width: 100%;
  background-color: rgb(35,35,35);
  height: 300px;
}

/* Media Queries para responsividade */
@media screen and (max-width: 500px)
{
  #menu a, #menu ul, .drop
  {
    flex-direction: column;
  }

  #menu ul
  {
    position: relative;
    top: 3.3em;
  }

  .menu_botao
  {
    display: none;
  }

  .menu_icone_resp
  {
    align-self: flex-end;
    display: initial;
    position: absolute;
    right: 0;
    top: 0.15em;
    cursor: pointer;
    color: #fff;
    font-size: 2.5em;
  }

  .menu_botao_show
  {
    display: flex;
  }

  #menu li:hover
  {
    height: 3.3em;
  }

  #slide-ph
  {
    width: 75%;
  }

  .botao-bottom-img img
  {
    width: 87%;
  }

  .legenda
  {
  top: 1em;
  text-align: center;
  width: 55.53%;
  height: 2.5em;
  margin: 0 auto;
  background-color: black;
  position: absolute;
  color: white;
  decoration: none;
  font-weight: bolder;
  }
}