*
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#barra-topo
{
  top: 0;
  left: 0;
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 3.3em;
  position: fixed;
}

#logo
{
  position: absolute;
  left: 8%;
  top: 13%;
}

#menu
{
  width: 40%;
  position: absolute;
  right: 10%;
}

#menu a
{
  color: #fff;
  background: rgb(35, 35, 35);
  display: block;
  height: 3.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background, 0.5s;
}

#menu a:hover
{
  background-color: white;
  color: black;
}

.menu_botao
{
  list-style-type: none;
  display: flex;
}

#menu li
{
  width: 100%;
  text-align: center;
  position: relative;
}

#menu li:hover .drop > li
{
  display: block;
  top: 0px;
}

.drop li
{
  display: none;
  position: absolute;
  top: 0px;
}

.drop
{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  text-align: center;
}

#conteudo
{
  background-color: seagreen;
  width: 100%;
  height: 700px;
  position: relative;
}

.menu_icone_resp
{
  display: none;
}

/* Media Queries para responsividade */
@media screen and (max-width: 500px)
{
  #menu a, #menu ul, .drop
  {
    flex-direction: column;
  }

  #menu ul
  {
    position: relative;
    top: 3.3em;
  }

  .menu_botao
  {
    display: none;
  }

  .menu_icone_resp
  {
    align-self: flex-end;
    display: initial;
    position: absolute;
    right: 0;
    top: 0.15em;
    cursor: pointer;
    color: #fff;
    font-size: 2.5em;
  }

  .menu_botao_show
  {
    display: flex;
  }

  .drop li
  {
    position: absolute;
    right: 11.8em;
  }

  #menu li:hover
  {
    height: 3.3em;
  }
}